@import '../../styles/variables.scss';

.post {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .PostEdit {
    display: flex;
    gap: 24px;
    padding-bottom: 32px;
    border-bottom: 1px solid $Grey80;

    .userprofile {
      width: 48px;
      height: 48px;
    }
    .userWrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .userNickName {
        font-weight: bold;
      }
      .userPost {
        width: 307px;
        height: 500px;
        border: 1px solid $Black;
        border-radius: 6px;
        resize: none;
        outline: $Grey88;
        padding-left: 16px;
        padding-top: 15px;

        // &::placeholder {

        // }
      }
    }

    .userBtn {
      margin-top: 24px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .userBtnc {
        width: 120px;
        height: 56px;
        background-color: $White;
        color: $Blue;
        border: 1px solid $Blue;
        border-radius: 6px;
      }
      .userBtnp {
        width: 120px;
        height: 56px;
        background-color: $Blue;
        color: $White;
        border: none;
        border-radius: 6px;
      }
    }
  }
}
